# Ignorer les fichiers PCAP
*.pcap

# Ignorer les fichiers de configuration locaux
# config/config.json

# Ignorer les fichiers d'installation tar.gz
*.tar.gz

# Ignorer tous les fichiers temporaires
*.tmp
temp/

# Ignorer un dossier spécifique
__pycache__/
venv/
output/

# Ignorer les fichiers Python compilés
*.pyc
*.pyo
*.pyd
.Python

# Ignorer les fichiers journaux
*.log

# Ignorer les fichiers d'environnement
.env
.venv

# Ignorer les fichiers système Mac
.DS_Store

# Ignorer les fichiers PCAP dans le dossier output, sauf .gitkeep
output/pcap/*
!output/pcap/.gitkeep

# Ignore output directories but keep their structure
output/logs/*
output/run/*
!output/logs/.gitkeep
!output/run/.gitkeep